body {
  font-family: 'Raleway', sans-serif;
}

.background-brand {
  width: 45rem;
}

.load-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-34.5%, -50%);
  z-index: 0;
}

.wg-28-loader {
  display: inline-block;
  vertical-align: text-bottom;
  background-image: url("../../../lib/img/brand/circle-28_50.svg");
  width: 50px;
  height: 50px;
}

.wg-28-load-spinner {
  border-radius: 50%;
  border-top: 1px solid #363636;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 936px) {
  .background-brand {
    width: 30rem;
  }
  
  .load-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-28%, -50%);
  }
}

@media (max-width: 767px) {
  .background-brand {
    width: 30rem;
  }
  
  .load-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-39.2%, -50%);
  }
}

@media (max-width: 667px) {
  .background-brand {
    width: 15rem;
  }
  
  .load-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}