#wg-28-rounded-brand {
    display: none;
}

#content {
    z-index: 1 !important;
}

.sidebar {
    z-index: 1;
}

@media (max-width: 768px) {
    #wg-28-rounded-brand {
        display: block !important;
    }
}